.aside {
  background: #898989;
  display: contents;
  padding: 32px;
  position: fixed;
  left: 0;
  top: 7rem;
  /* height: 50%; */
  width: 40%;
  border-radius: 10px;
  transition: all .5s ease;
  transition-duration: 2s;
}

.aside-esc {
  /* display: contents; */
  position: fixed;
  left: 0;
  top: 7rem;
}

/* vamos avanzando */

/* .cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart footer button {
  padding: 8px;
} */

.buttonf {
  align-items: center;
  background: #09f;
  border-radius: 0px 50px 50px 0px;
  -moz-border-radius: 0px 50px 50px 0px;
  -webkit-border-radius: 0px 50px 50px 0px;
  border: 0px solid #000000;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  left: 0;
  top: 7rem;
  transition: all .5s ease;
  transition-property: all;
  transition-duration: 2s;
  width: 32px;
  z-index: 99999;
}

.buttonf:hover {
  scale: 1.1;
}

.buttonf ~ input:checked ~ .aside {
  height: 100%;
  display: block;
  height: 20vh;
}

@media screen and (min-width: 500px) {
  .buttonf {
    display: none;
  }
  .aside {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .aside-esc {
    display: none;
  }
}

