.header {
  background-color: rgb(79, 79, 79);
  height: 4rem;
  position: fixed;
  top: 0.5rem;
  width: 80%;
  border-radius: 10px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  gap: 1rem;

  -webkit-box-shadow: 3px -1px 32px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px -1px 32px 7px rgba(0,0,0,0.75);
  box-shadow: 3px -1px 32px 7px rgba(0,0,0,0.75);
}

.header form {
  display: flex;
  gap: 1rem;
}