.main {
  margin: 5rem 0 0 15rem;
  max-width: 60%;
  /* display: flex; */
  padding: 0 0.2rem;
  z-index: 0;
}

.cards {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  .main {
    width: 100%;
    display: contents;
    margin: 0;
    top: 7rem;
    justify-content: center;
  }
  .aside-esc {
    display: none;
  }

}
